html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

.temp{
  display:flex;
  margin:0 30%;
  padding:20px;
}

.App{
  /* width:auto; */
  display:flex;
}


.blue-block{
  display:block;
  width:191px;
  height:191px;
  background-color: #46C5D7;
}



.content{
  padding: 2rem;
  padding-bottom:0;
  margin:25px 15px;
  min-width:200px;
  border:0.1px solid black;
  box-shadow:1px 1px 5px 0.5px grey;
  background:white;
  position:absolute;
  z-index:20;
}

.content > h1{
  margin:0;
}

.ant-form.ant-form-horizontal.form{
  margin-top:1rem;
}

/* .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  background:#FF7200 !important;
  border-color: #FF7200 !important;
} */

/* .ant-radio-button-wrapper :focus{
 font-color:white !important;
} */
.ant-radio-button-wrapper{
  min-height:40px;
  font-weight:bold;
  text-align:center;
  line-height:20px !important;
}

.ant-radio-button-wrapper:hover{
  color:black !important; 
  /* background: red; */
}
 .ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
  color: #fff !important;
  background:#FF7200 !important;
  border-color: #FF7200 !important;
}